name: wanandroidflutter
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  #状态管理
  provider: ^4.1.3

  #网络请求
  dio: ^3.0.9

  #轮播图 https://pub.dev/packages/flutter_swiper
  flutter_swiper: ^1.1.6

  #网络图片缓存 https://pub.dev/packages/cached_network_image#-readme-tab-
  cached_network_image: ^2.2.0+1

  #解析html https://pub.dev/packages/flutter_html#-readme-tab-
  flutter_html: ^0.11.1

  #本地数据缓存 https://pub.dev/packages/shared_preferences#-readme-tab-
  shared_preferences: ^0.5.7+3

  #上拉加载和下拉刷新 https://pub.dev/packages/flutter_easyrefresh#-readme-tab-
  flutter_easyrefresh: ^2.1.1

  #webview https://pub.dev/packages/webview_flutter#-readme-tab-
  webview_flutter: ^0.3.22+1
  #启动URL https://pub.dev/packages/url_launcher#-installing-tab-
  url_launcher: ^5.4.10

  #toast https://pub.dev/packages/fluttertoast#-readme-tab-
  fluttertoast: ^4.0.1

  #cookie管理器 https://pub.dev/packages/cookie_jar
  cookie_jar: ^1.0.0
  dio_cookie_manager: 1.0.0

  #path_provider 查找文件系统上的常用位置
  path_provider: ^1.6.10

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
     - assets/image/
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
